.actioncontainer-component {
  background-color: #282c37;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;

  .action-spacer {
    flex: 1;
  }
}

@media (min-width: 1000px) {
  .action-icon {
    font-size: 60px !important;
  }
}
